C:/projetos/analise-churn-empresa-telefonia/dados/* filter=lfs diff=lfs merge=lfs -text
C:/projetos/analise-churn-empresa-telefonia/analise-de-churn.ipynb filter=lfs diff=lfs merge=lfs -text
C:/projetos/analise-churn-empresa-telefonia/analise-de-churn.ipynb filter=lfs diff=lfs merge=lfs -text
C:/projetos/analise-churn-empresa-telefonia/dados/* filter=lfs diff=lfs merge=lfs -text
